@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Cabin);
@import "compass/css3";

$sortcols: 'firstName', 'lastName', 'birth';

%sortcol {
    background: rgba(navy, .15);
    text-shadow: 0 1px #eee;
    &:before

{
    box-shadow: 0 0 .5em navy;
}

.prop__name {
    color: lightcyan;
    &[data-dir='1']:after
}
{
    content: '▲';
}

&[data-dir='-1']:after {
    content: '▼';
}



* {
    box-sizing: inherit;
}

body {
    background: #555;
    font: 1em/1.25 trebuchet ms, verdana, sans-serif;
    color: #fff;
}

table{
    box-sizing: border-box;
    overflow: hidden;
    margin: 4em auto;
    border-collapse: collapse;
    min-width: 23em;
    width: 70%;
    max-width: 56em;
    border-radius: .5em;
    box-shadow: 0 0 .5em #000;
}

thead th {
    background: linear-gradient(#606062, #28262b);
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

th {
    text-align: left;
    background-color: #5D7B9D;
    font-weight: bold;
    color: White;
}

tbody {
    display: flex;
    flex-direction: column;
    color: #000;
}

tr {
    display: block;
    overflow: hidden;
    width: 100%;
}

.odd {
    background: linear-gradient(#eee 1px, #ddd 1px, #ccc calc(100% - 1px), #999 calc(100% - 1px));
}

.even {
    background: linear-gradient(#eee 1px, #bbb 1px, #aaa calc(100% - 1px), #999 calc(100% - 1px));
}

[class*='prop__'] {
    float: left;
    position: relative;
    padding: .5em 1em;
    width: 40%;
    &:last-child

{
    width: 20%;
}

&:before {
    position: absolute;
    top: -.5em;
    right: 0;
    bottom: -5em;
    left: 0;
    content: ''
}

&:after {
    position: absolute;
    right: .5em;
}

}

@each $col in $sortcols {
    [data-sort-by='#{$col}'] {
        [data-prop-name='#{$col}']

{
    @extend %sortcol;
}

}
}
* {
    box-sizing: border-box;
}

/*body {
    padding: 1rem 3rem;
    font-family: 'Cabin', sans-serif;
    line-height: 1.4;
    min-width: 925px;
}*/

a {
    text-decoration: none;
}

.main-navigation {
    overflow: hidden;
    position: relative;
    padding: 0 0 0 1rem;
    ul

{
    list-style: none;
    padding: 0;
}

li {
    float: left;
    width: 12rem;
    height: 5rem;
    margin: 0 0 0 -1rem;
    position: relative;
    &.active

{
    z-index: 6;
}

}

a {
    position: relative;
    display: inline-block;
    color: white;
    width: 100%;
    height: 100%;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 1.4rem;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

svg {
    width: 120%;
    height: 100%;
    // for tab shadows // also screws up Firefox // filter: url(#shadow);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

span {
    position: relative;
    padding: 1rem 0 0 3.3rem;
    z-index: 2;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.tab-1 {
    z-index: 4;
    svg

{
    fill: url(#tab-1-bg);
}

}

.tab-2 {
    z-index: 3;
    svg

{
    fill: url(#tab-2-bg);
}

}

.tab-3 {
    z-index: 2;
    svg

{
    fill: url(#tab-3-bg);
}

}

.tab-4 {
    z-index: 1;
    svg

{
    fill: url(#tab-4-bg);
}



.ProfileEdit-fields {
    padding-bottom: 100px;
    margin-top: 10px
}
.Field {
    padding: 30px 0;
    border-bottom: 1px solid #ebebeb
}

html[data-theme=dark] .Field {
    border-bottom: 1px solid #444
}

.Field .ButtonGroup .Button + .Button {
    margin-left: 16px
}

.Field-label {
    position: relative;
    font-size: 15px;
    font-weight: 600;
    font-synthesis: style;
    line-height: 36px;
    color: #444
}

html[data-ios] .Field-label {
    font-weight: 500
}

html[data-android] .Field-label {
    font-weight: 700
}

html[data-theme=dark] .Field-label {
    color: grey
}

.Field-content {
    padding: 0 64px 0 140px;
    line-height: 36px
}
.main-content {
    position: relative;
    /*z-index: 10; 
    margin: -1.6rem 0 0 0;*/
    background: rgba(118, 160, 192, 1.0);
    padding: 3rem;
    border-radius: 40px;
    border-top-left-radius: 0;
}

.article {
    background: white;
    padding: 5rem;
    border-radius: 8px;
    h2

{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    color: rgba(118, 160, 192, 1.0);
    margin: 0 0 0.5rem 0;
}
}
